/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	.list-headline ul{
		list-style: none;
		padding-inline-start:0;
		display:grid;
	}
	.content{
		display: grid;
		margin-left: -25px;
	 }
	 .car-record{
		display:  grid;

	}
	.logo {
		text-align: center;
	}
	.logo-img {
		width: 150px;
	}
	.year {
		margin: 0 auto;
	}
	.list-headline{
		display: grid;
		text-align: center;
		justify-content: center;
	}
	button {
		border-right: 0;
	margin-bottom: 15px !important;
	}
	.counter-minus, .counter-plus {
		padding: 5px 15px !important;
		font-size: 18px;
	}
	.handle-counter input {
		background-color: #217791;
		color: #fff;
		border: 0;
		min-height: 21px;
		font-size: 18px;
	}
	.content-title {
		text-align: center;
	}
	.content-title h3 {
		font-size: 20px;
	}
	.content-title p {
		font-size: 18px;
	}
	.min {
		margin: 0;
	
	}
	.min h4 {
		font-size: 22px;
	}
	.right-img {

		margin-top: 60px;
		text-align: center;
	}
	.right-img img {
		width: 160px;
		height: auto;
	}
	.content-title::after {
		left: 38%;
	}
	
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	
	.content{
		display: grid;
	 }
	 .car-record{
		display:  grid;

	}
	.logo {
		text-align: center;
	}
	.logo-img {
		width: 250px;
	}
	.year {
		margin: 0 auto;
	}
	.list-headline{
		display: grid;
		text-align: center;
		justify-content: center;
	}
	button {
		border-right: 0;
	margin-bottom: 15px !important;
	}
	.content-title {
		text-align: center;
	}
	.content-title h3 {
		font-size: 35px;
	}
	.content-title p {
		font-size: 30px;
	}
	.right-img {
		float: right;
		margin-right: 0;
		margin-top: 60px;
		text-align: center;
	}
	.content-title::after {
		left: 38%;
	}
	

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	
	.content{
		display: grid;
	 }
	 .car-record{
		display:  grid;

	}
	.logo {
		text-align: center;
		
	}
	.logo-img {
		width: 250px;
	}
	.year {
		margin: 0 auto;
	}
	.list-headline{
		display: grid;
		text-align: center;
		justify-content: center;
	}
	button {
		border-right: 0;
	margin-bottom: 15px !important;
	}
	.content-title {
		text-align: center;
	}
	.right-img {
		float: right;
		margin-right: 0;
		margin-top: 60px;
		text-align: center;
	}
	.content-title::after {
		left: 38%;
	}
	
	}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .min {
		margin: 0 20px;
		color: #fff;
		text-align: center;
	}
	.min h4 {
		font-weight: 700;
		font-size: 28px;
		margin-top: 0;
	}
	.logo-img {
		width: 280px;
	}
	.content-title h3 {
		font-size: 45px;
		
	}
	.content-title p {
		font-size: 35px;
		
	}
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
	.year {
		margin-left: 0px;
	}
	.car-record{
		display:  flex;
		text-align: justify;
		margin-top: 25px;
		width: 100%;
		justify-content: space-around;
		
	}


}
